google-python-exercises/
.idea/
python-trading/excel/
python-trading/data/
python-trading/oanda_api.py
python-trading/oanda_api.pyc
python-trading/quandl_api.py
python-trading/quandl_api.pyc
python-trading/currency_layer_api.py
python-trading/currency_layer_api.pyc
python-trading/exchange_rates.js
python-trading/oanda_sandbox.ipynb
python-trading/.ipynb_checkpoints/

python_fundamentals/prank/

.DS_Store
codecademy/

codementor/
codementor/machine_learning/data/

python-trading/.DS_Store
python-trading/.spyderworkspace
python-trading/test_vim.js
python-trading/testing_vim.py
python_fundamentals/.DS_Store

twsapi_macunix.973.03/
IBridgePy_Python2_64bit/
data-science/DataScience-Python3/

romania_file_term_notifier.ipynb
daily_rbs_payment_reports.ipynb
daily_rbs_payment_reports.py

temp_data/
Python_for_Data_Analysis_Udemy_Jose_Portilla/
Python-for-Finance-Repo-udemy/
python_for_finance_udemy/

skillbox_analyst_course/
.ipynb_checkpoints/